Node-RED/flows (1).json
[
    {
        "id": "fdda9bca8447c984",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3af47468725088da",
        "type": "mqtt-broker",
        "name": "HiveMQ MQTT Broker",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d0b372abe6b6caeb",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "73a586b2a45d7087",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "Cloud",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "https://us-east-1-1.aws.cloud2.influxdata.com/",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "4b331a130fe12641",
        "type": "mqtt in",
        "z": "fdda9bca8447c984",
        "name": "",
        "topic": "planta1/umidade",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "3af47468725088da",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 240,
        "wires": [
            [
                "860ec41ceac5ca4a",
                "958ee37e74b475ce",
                "4220dfc8bc8f60ce"
            ]
        ]
    },
    {
        "id": "860ec41ceac5ca4a",
        "type": "function",
        "z": "fdda9bca8447c984",
        "name": "function 1",
        "func": "// Valor de umidade mínima aceitável\nconst umidadeMin = 2000;\n\nif (msg.payload < umidadeMin) {\n    node.warn(\"Rega necessária. Conferindo parâmetros...\");\n    msg.topic = \"planta1/acao\";\n    msg.payload = \"Rega necessária. Conferindo parâmetros...\";\n    msg.url = \"https://api.callmebot.com/whatsapp.php?phone=5511995891209&text=\" + msg.payload + \"&apikey=2025583\"\n\n    return msg;\n} else {\n    node.warn(\"Umidade acima do limite mínimo. Nenhuma ação realizada.\");\n    msg.topic = \"planta1/acao\";\n    msg.payload = \"não regar\";\n    msg.url = \"https://api.callmebot.com/whatsapp.php?phone=5511995891209&text=\" + msg.payload + \"&apikey=2025583\"\n\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 240,
        "wires": [
            [
                "72e9887402ff115b",
                "459c7dc743399c3b"
            ]
        ]
    },
    {
        "id": "958ee37e74b475ce",
        "type": "debug",
        "z": "fdda9bca8447c984",
        "name": "umidade",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 280,
        "y": 200,
        "wires": []
    },
    {
        "id": "72e9887402ff115b",
        "type": "debug",
        "z": "fdda9bca8447c984",
        "name": "mensagem",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 290,
        "y": 280,
        "wires": []
    },
    {
        "id": "c33ad1eefa2bdd31",
        "type": "mqtt in",
        "z": "fdda9bca8447c984",
        "name": "",
        "topic": "planta1/n",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "3af47468725088da",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 380,
        "wires": [
            [
                "c509d803a6c95c0f",
                "225b09158785f3f2",
                "906c2f86f40d90a2"
            ]
        ]
    },
    {
        "id": "c509d803a6c95c0f",
        "type": "function",
        "z": "fdda9bca8447c984",
        "name": "function 2",
        "func": "// Valor ideal para Nitrogênio\nconst nIdeal = 50;\n\nif (msg.payload < nIdeal) {\n    node.warn(\"Adicionando fertilizante N.\");\n    msg.topic = \"planta1/acao\";\n    msg.payload = \"adicionar fertilizante N\";\n    msg.url = \"https://api.callmebot.com/whatsapp.php?phone=5511995891209&text=\" + msg.payload + \"&apikey=2025583\"\n\n    return msg;\n} else {\n    node.warn(\"n está dentro do intervalo normal.\");\n    msg.topic = \"planta1/acao\";\n    msg.payload = \"Não mexer nos niveis de N\";\n    msg.url = \"https://api.callmebot.com/whatsapp.php?phone=5511995891209&text=\" + msg.payload + \"&apikey=2025583\"\n\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 380,
        "wires": [
            [
                "abdbc28a2d5e86a8",
                "84555f568745041c"
            ]
        ]
    },
    {
        "id": "225b09158785f3f2",
        "type": "debug",
        "z": "fdda9bca8447c984",
        "name": "valor N",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 280,
        "y": 340,
        "wires": []
    },
    {
        "id": "abdbc28a2d5e86a8",
        "type": "debug",
        "z": "fdda9bca8447c984",
        "name": "mensagem",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 290,
        "y": 420,
        "wires": []
    },
    {
        "id": "822367326a549cd2",
        "type": "mqtt in",
        "z": "fdda9bca8447c984",
        "name": "",
        "topic": "planta1/p",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "3af47468725088da",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 520,
        "wires": [
            [
                "d93bb8fc0780edb2",
                "539f403abd3ce4ce",
                "d96d19dd95480f61"
            ]
        ]
    },
    {
        "id": "d93bb8fc0780edb2",
        "type": "function",
        "z": "fdda9bca8447c984",
        "name": "function 3",
        "func": "// Valor ideal para Fósforo\nconst pIdeal = 50;\n\nif (msg.payload < pIdeal) {\n    node.warn(\"Adicionando fertilizante P.\");\n    msg.topic = \"planta1/acao\";\n    msg.payload = \"adicionar fertilizante P\";\n    msg.url = \"https://api.callmebot.com/whatsapp.php?phone=5511995891209&text=\" + msg.payload + \"&apikey=2025583\"\n\n    return msg;\n} else {\n    node.warn(\"P está dentro do intervalo normal.\");\n    msg.topic = \"planta1/acao\";\n    msg.payload = \"Não mexer nos niveis de p\";\n    msg.url = \"https://api.callmebot.com/whatsapp.php?phone=5511995891209&text=\" + msg.payload + \"&apikey=2025583\"\n\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 520,
        "wires": [
            [
                "810920b894a23aec",
                "f5936cd4f9dd9809"
            ]
        ]
    },
    {
        "id": "539f403abd3ce4ce",
        "type": "debug",
        "z": "fdda9bca8447c984",
        "name": "Valor P",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 280,
        "y": 480,
        "wires": []
    },
    {
        "id": "810920b894a23aec",
        "type": "debug",
        "z": "fdda9bca8447c984",
        "name": "mensagem",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 290,
        "y": 560,
        "wires": []
    },
    {
        "id": "64e51231a7e20677",
        "type": "mqtt in",
        "z": "fdda9bca8447c984",
        "name": "",
        "topic": "planta1/k",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "3af47468725088da",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 660,
        "wires": [
            [
                "46fa0c5b3250f3dc",
                "125c89af9eeb5e8c",
                "1f175c916e4bf363"
            ]
        ]
    },
    {
        "id": "46fa0c5b3250f3dc",
        "type": "function",
        "z": "fdda9bca8447c984",
        "name": "function 4",
        "func": "// Valor ideal para Potássio\nconst kIdeal = 50;\n\nif (msg.payload < kIdeal) {\n    node.warn(\"Adicionando fertilizante K.\");\n    msg.topic = \"planta1/acao\";\n    msg.payload = \"adicionar fertilizante K\";\n    msg.url = \"https://api.callmebot.com/whatsapp.php?phone=5511995891209&text=\" + msg.payload + \"&apikey=2025583\"\n\n    return msg;\n} else {\n    node.warn(\"K está dentro do intervalo normal.\");\n    msg.topic = \"planta1/acao\";\n    msg.payload = \"Não mexer nos niveis de k\";\n    msg.url = \"https://api.callmebot.com/whatsapp.php?phone=5511995891209&text=\" + msg.payload + \"&apikey=2025583\"\n\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 660,
        "wires": [
            [
                "81da075acd83b3a3",
                "a97c5d40672983c7"
            ]
        ]
    },
    {
        "id": "125c89af9eeb5e8c",
        "type": "debug",
        "z": "fdda9bca8447c984",
        "name": "Valor K",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 280,
        "y": 620,
        "wires": []
    },
    {
        "id": "81da075acd83b3a3",
        "type": "debug",
        "z": "fdda9bca8447c984",
        "name": "mensagem",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 290,
        "y": 700,
        "wires": []
    },
    {
        "id": "5e0a2b26058315cb",
        "type": "mqtt in",
        "z": "fdda9bca8447c984",
        "name": "",
        "topic": "planta1/ph",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "3af47468725088da",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 100,
        "wires": [
            [
                "2560c659abb85c8f",
                "f5dd530b664182c7",
                "0bf398c29cc1561b"
            ]
        ]
    },
    {
        "id": "2560c659abb85c8f",
        "type": "function",
        "z": "fdda9bca8447c984",
        "name": "function 5",
        "func": "// Valores ideais para o pH\nconst phIdeal = 7;\n\nif (msg.payload < phIdeal - 1) {\n    node.warn(\"pH está baixo. Adicionando alcalinizante.\");\n    msg.topic = \"planta1/acao\";\n    msg.payload = \"adicionar alcalinizante\";\n    msg.url = \"https://api.callmebot.com/whatsapp.php?phone=5511995891209&text=\" + msg.payload + \"&apikey=2025583\"\n\n    return msg;\n} else if (msg.payload > phIdeal + 1) {\n    node.warn(\"pH está alto. Adicionando acidificante.\");\n    msg.topic = \"planta1/acao\";\n    msg.payload = \"adicionar acidificante\";\n    msg.url = \"https://api.callmebot.com/whatsapp.php?phone=5511995891209&text=\" + msg.payload + \"&apikey=2025583\"\n\n    return msg;\n} else {\n    node.warn(\"PH está dentro do intervalo normal.\");\n    msg.topic = \"planta1/acao\";\n    msg.payload = \"Não mexer nos niveis de PH\";\n    msg.url = \"https://api.callmebot.com/whatsapp.php?phone=5511995891209&text=\" + msg.payload + \"&apikey=2025583\"\n\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 100,
        "wires": [
            [
                "76a9dc0e3aa18cc1",
                "6ee89da15933a63e"
            ]
        ]
    },
    {
        "id": "f5dd530b664182c7",
        "type": "debug",
        "z": "fdda9bca8447c984",
        "name": "valor ph",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 280,
        "y": 60,
        "wires": []
    },
    {
        "id": "76a9dc0e3aa18cc1",
        "type": "debug",
        "z": "fdda9bca8447c984",
        "name": "mensagem",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 290,
        "y": 140,
        "wires": []
    },
    {
        "id": "459c7dc743399c3b",
        "type": "http request",
        "z": "fdda9bca8447c984",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "persist": false,
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 450,
        "y": 240,
        "wires": [
            [
                "3bd4defba249408f"
            ]
        ]
    },
    {
        "id": "3bd4defba249408f",
        "type": "debug",
        "z": "fdda9bca8447c984",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 600,
        "y": 240,
        "wires": []
    },
    {
        "id": "6ee89da15933a63e",
        "type": "http request",
        "z": "fdda9bca8447c984",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "persist": false,
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 450,
        "y": 100,
        "wires": [
            [
                "94b1f01cb151d539"
            ]
        ]
    },
    {
        "id": "94b1f01cb151d539",
        "type": "debug",
        "z": "fdda9bca8447c984",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 600,
        "y": 100,
        "wires": []
    },
    {
        "id": "84555f568745041c",
        "type": "http request",
        "z": "fdda9bca8447c984",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "persist": false,
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 450,
        "y": 380,
        "wires": [
            [
                "120242e878ca735e"
            ]
        ]
    },
    {
        "id": "120242e878ca735e",
        "type": "debug",
        "z": "fdda9bca8447c984",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 600,
        "y": 380,
        "wires": []
    },
    {
        "id": "f5936cd4f9dd9809",
        "type": "http request",
        "z": "fdda9bca8447c984",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "persist": false,
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 450,
        "y": 520,
        "wires": [
            [
                "ca52c22f094226d9"
            ]
        ]
    },
    {
        "id": "ca52c22f094226d9",
        "type": "debug",
        "z": "fdda9bca8447c984",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 600,
        "y": 520,
        "wires": []
    },
    {
        "id": "a97c5d40672983c7",
        "type": "http request",
        "z": "fdda9bca8447c984",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "persist": false,
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 450,
        "y": 660,
        "wires": [
            [
                "d66baf43616065d5"
            ]
        ]
    },
    {
        "id": "d66baf43616065d5",
        "type": "debug",
        "z": "fdda9bca8447c984",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 600,
        "y": 660,
        "wires": []
    },
    {
        "id": "4220dfc8bc8f60ce",
        "type": "influxdb out",
        "z": "fdda9bca8447c984",
        "influxdb": "73a586b2a45d7087",
        "name": "umidade",
        "measurement": "planta1/umidade",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "TR",
        "bucket": "NodeRed",
        "x": 120,
        "y": 300,
        "wires": []
    },
    {
        "id": "0bf398c29cc1561b",
        "type": "influxdb out",
        "z": "fdda9bca8447c984",
        "influxdb": "73a586b2a45d7087",
        "name": "ph",
        "measurement": "planta1/ph",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "TR",
        "bucket": "NodeRed",
        "x": 90,
        "y": 160,
        "wires": []
    },
    {
        "id": "906c2f86f40d90a2",
        "type": "influxdb out",
        "z": "fdda9bca8447c984",
        "influxdb": "73a586b2a45d7087",
        "name": "n",
        "measurement": "planta1/n",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "TR",
        "bucket": "NodeRed",
        "x": 90,
        "y": 460,
        "wires": []
    },
    {
        "id": "d96d19dd95480f61",
        "type": "influxdb out",
        "z": "fdda9bca8447c984",
        "influxdb": "73a586b2a45d7087",
        "name": "p",
        "measurement": "planta1/p",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "TR",
        "bucket": "NodeRed",
        "x": 90,
        "y": 580,
        "wires": []
    },
    {
        "id": "1f175c916e4bf363",
        "type": "influxdb out",
        "z": "fdda9bca8447c984",
        "influxdb": "73a586b2a45d7087",
        "name": "k",
        "measurement": "planta1/k",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "TR",
        "bucket": "NodeRed",
        "x": 90,
        "y": 740,
        "wires": []
    },
    {
        "id": "8a770dffe4396b3b",
        "type": "mqtt in",
        "z": "fdda9bca8447c984",
        "name": "",
        "topic": "planta1/luminosidade",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "3af47468725088da",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 820,
        "wires": [
            [
                "b8d36d4c90f107e2",
                "1b8ac40d5daa5085",
                "481a5293fe8e2c72"
            ]
        ]
    },
    {
        "id": "b8d36d4c90f107e2",
        "type": "function",
        "z": "fdda9bca8447c984",
        "name": "function 6",
        "func": "\nconst luminosidadeIdeal = 5000;\n\nif (msg.payload < 5000) {\n    node.warn(\"Luminosidade Baixa\");\n    msg.topic = \"planta1/acao\";\n    msg.payload = \"Luminosidade da planta Baixa. Luz artificial ativada\";\n    msg.url = \"https://api.callmebot.com/whatsapp.php?phone=5511995891209&text=\" + msg.payload + \"&apikey=2025583\"\n\n    return msg;\n} \nif (msg.payload > 5000) {\n    node.warn(\"Luminosidade Alta\");\n    msg.topic = \"planta1/acao\";\n    msg.payload = \"Luminosidade da está alta. Luz artificial desligada\";\n    msg.url = \"https://api.callmebot.com/whatsapp.php?phone=5511995891209&text=\" + msg.payload + \"&apikey=2025583\"\n\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 820,
        "wires": [
            [
                "e962c6f7fbd3c130",
                "5e6e3ccb467bd7d0"
            ]
        ]
    },
    {
        "id": "e962c6f7fbd3c130",
        "type": "debug",
        "z": "fdda9bca8447c984",
        "name": "mensagem",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 370,
        "y": 860,
        "wires": []
    },
    {
        "id": "5e6e3ccb467bd7d0",
        "type": "http request",
        "z": "fdda9bca8447c984",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 530,
        "y": 820,
        "wires": [
            [
                "cdc014d66d793bfd"
            ]
        ]
    },
    {
        "id": "cdc014d66d793bfd",
        "type": "debug",
        "z": "fdda9bca8447c984",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 680,
        "y": 820,
        "wires": []
    },
    {
        "id": "1b8ac40d5daa5085",
        "type": "influxdb out",
        "z": "fdda9bca8447c984",
        "influxdb": "73a586b2a45d7087",
        "name": "lux",
        "measurement": "planta1/luminosidade",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "TR",
        "bucket": "NodeRed",
        "x": 90,
        "y": 900,
        "wires": []
    },
    {
        "id": "481a5293fe8e2c72",
        "type": "debug",
        "z": "fdda9bca8447c984",
        "name": "mensagem",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 350,
        "y": 940,
        "wires": []
    }
]